<div class="card-wrapper">
  <mat-card class="card-item" *ngFor="let news of data; let i=index">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{news.title}}</mat-card-title>
      <mat-card-subtitle>{{news.publishedAt}} - {{news.author}}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{news.urlToImage}}">
    <mat-card-content>
      <p>
        {{news.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" mat-raised-button>LIKE</button>
      <button color="accent" mat-raised-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>

<!--<mat-grid-list cols="4" rowHeight="1:1">-->
  <!--<mat-grid-tile *ngFor="let news of data; let i=index" colspan="2" rowspan="1">-->
    <!--<img src="{{news.urlToImage}}">-->
    <!--<mat-grid-tile-footer>-->
      <!--<h4>{{news.title}}</h4>-->
    <!--</mat-grid-tile-footer>-->
  <!--</mat-grid-tile>-->
<!--</mat-grid-list>-->

