.card-item {
  width: 350px;
  margin: 5px;
  display: inline-block;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

